* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir";
  src: url('/zz_Fonts/avenir.ttf');
  font-family: "AvenirLTStd-Black";
  src: url('/zz_Fonts/AvenirLTStd-Black.otf');
}

body {
  margin: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: hidden;
  padding: 0;
}

@keyframes infiniteText {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

/*Loading Screen*/
.loader-wrapper {
  display: block;
  position: fixed;
  background-color: #242f3f no-repeat center center;
  height: 100%;
  width: 100%;
  align-items: center;
  overflow: hidden;
  animation: ease;
}

.txt {
  animation: ease-in;
}

.loader-wrapper .dynamic-txt {
  margin-left: 34vw;
  height: 118px;
  line-height: 110px;
  overflow: hidden;
}

.dynamic-txt li {
  list-style: none;
  font-size: 10vh;
  font-weight: 400;
  color: blue;
  position: relative;
  top: 0;
  animation: slide 9s steps(3) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-txt li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}

.dynamic-txt li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #242f3f;
  /*Blöcke*/
  border-left: 2px solid #242f3f;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {
  40%, 60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}

/*endless text*/
.text {
  perspective: 500px;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  font-family: 'AvenirLTStd-Black';
  font-weight: 100;
  background-color: rgb(33, 37, 41);
}

.text span {
  font-size: 33.5vh;
  font-weight: 700;
  text-transform: uppercase;
  /*color: rgba(0, 0, 0, 0.425);*/
  display: inline-block;
  transition: all ease 0.5s;
  transform: translateY(-11%);
  pointer-events: none;
}

/*.text span:nth-child(odd),
.text span:nth-child(even):hover {
  color: rgba(0, 0, 0, 0.39);
}

/*.text span:nth-child(odd):hover {
  color: #Fff;
}*/
.line:hover {
  color: white;
}

.line {
  white-space: nowrap;
  cursor: pointer;
  animation-play-state: running;
  animation: infiniteText 15s alternate linear infinite;
  height: 25vh;
  /*Abstand*/
}

.line2 {
  animation-direction: alternate-reverse;
}

.line4 {
  animation-direction: alternate-reverse;
}

.line2 span {
  margin: 0 80px 0;
}

.line3 span {
  margin: 0 35px 0;
}

.line:hover {
  animation-play-state: paused;
}

/* Editor*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content {
  transition: all 1.5s;
}

.walls {
  color: white;
  font-size: 2rem;
  font-family: 'Avenir';
  font-weight: bolder;
}

.Moral, .Ehe, .Humor, .Tod {
  display: flex;
  width: 100vw;
  transition: all 1.5s;
  position: absolute;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  overflow: hidden;
  perspective: 50vw;
  transform: translateY(-30vh) rotateX(-90deg);
}

img {
  width: 107vw;
}

.Fragen {
  transform: translateY(28vw) translateX(-0.5vw);
}

/* Nr1 Moral*/
.m1FrageL {
  transform: none;
}

.m1FrageR {
  transform: translateX(-93.3vw);
}

.m1FrageM {
  transform: translateX(-15.5vw) translateY(1.3vw) scale(0.915);
}

.m2FrageL {
  /*das isch doch die zweiti frog vo Moral?*/
  transform: translateY(-400vh) translateX(-50vw) rotateZ(-20deg);
}

.m2FrageR {
  transform: translateY(-400vh) translateX(-50vw) rotateZ(-20deg);
}

.m2FrageM {
  transform: translateY(-400vh) translateX(-50vw) rotateZ(-20deg);
}

/* Nr2 Moral*/
.content.2 .m1FrageL {
  transform: translateY(-400vh) translateX(-50vw) rotateZ(-20deg);
}

.content.2 .m1FrageR {
  transform: translateY(-400vh) translateX(-50vw) rotateZ(-20deg);
}

.content.2 .m1FrageM {
  transform: translateY(-400vh) translateX(-50vw) rotateZ(-20deg);
}

.content.2 .m2FrageL {
  transform: none;
}

.content.2 .m2FrageR {
  transform: translateX(-93.3vw);
}

.content.2 .m2FrageM {
  transform: translateX(-15.5vw) translateY(1.3vw) scale(0.915);
}

/* Nr1 Tod*/
.t1FrageL {
  transform: translateX(0.5vw) translateY(-7vh);
}

.t1FrageR {
  transform: translateX(-94.3vw) translateY(-7vh);
}

.t1FrageM {
  transform: translateX(-15.5vw) translateY(-4vh) scale(0.9);
}

.t2FrageL {
  transform: translateY(-400vh) translateX(-50vw) rotateZ(-20deg);
}

.t2FrageR {
  transform: translateY(-400vh) translateX(-50vw) rotateZ(-20deg);
}

.t2FrageM {
  transform: translateY(-400vh) translateX(-50vw) rotateZ(-20deg);
}

/* Nr1 Ehe*/
.e1FrageL {
  transform: none;
}

.e1FrageR {
  transform: translateX(-93.3vw);
}

.e1FrageM {
  transform: translateX(-15.5vw) translateY(1.3vw) scale(0.915);
}

.e2FrageL {
  transform: translateY(-400vh) translateX(-50vw) rotateZ(-20deg);
}

.e2FrageR {
  transform: translateY(-400vh) translateX(-50vw) rotateZ(-20deg);
}

.e2FrageM {
  transform: translateY(-400vh) translateX(-50vw) rotateZ(-20deg);
}

/* Nr1 Humor*/
.h1FrageL {
  transform: none;
}

.h1FrageR {
  transform: translateX(-93.3vw);
}

.h1FrageM {
  transform: translateX(-15.5vw) translateY(1.3vw) scale(0.915);
}

.h2FrageL {
  transform: translateY(-400vh) translateX(-50vw) rotateZ(-20deg);
}

.h2FrageR {
  transform: translateY(-400vh) translateX(-50vw) rotateZ(-20deg);
}

.h2FrageM {
  transform: translateY(-400vh) translateX(-50vw) rotateZ(-20deg);
}

.leftWall, .centerWall, .rightWall {
  overflow: hidden;
  white-space: nowrap;
  height: 111vw;
  background-color: rgb(33, 37, 41);
  border-width: thin;
  border-color: black;
  border-style: solid;
}

.leftWall {
  width: 20vw;
  transform: rotateY(60deg);
  margin-top: -30vw;
}

.rightWall {
  width: 20vw;
  transform: rotateY(-60deg);
  margin-top: -30vw;
}

.centerWall {
  transform: translateZ(-1.1vw);
  width: 108vw;
  margin-top: -30vw;
  z-index: -1;
}

.floor {
  perspective: 50vw;
  transform: translateY(-30vh) rotateX(-90deg);
}

.content.activeMoral .floor {
  transition: all 1.5s;
  transform: none;
}
.content.activeTod .floor {
  transition: all 1.5s;
  transform: none;
}
.content.activeEhe .floor {
  transition: all 1.5s;
  transform: none;
}
.content.activeHumor .floor {
  transition: all 1.5s;
  transform: none;
}

.floortext {
  text-align: center;
  text-transform: uppercase;
  font-family: 'AvenirLTStd-Black';
  font-size: 11.5vw;
  height: 20vw;
  width: 81.2vw;
  margin: auto;
  transform: translateY(75vh) translateZ(3vw) rotateX(100deg);
  z-index: 5;
  background-color: rgb(33, 37, 41);
  color: black;
  border-width: thin;
  border-color: black;
  border-style: solid;
}

.floortext:hover {
  color: #dd22dd;
}

.mLine {
  transform: translateY(-100vh) translateX(-50vw) rotateZ(-20deg);
}

@keyframes infiniteTextLeftWall {
  0% {
    transform: translateX(0vw);
  }

  100% {
    transform: translateX(-50vw);
  }
}

@keyframes infiniteTextCenterWall {
  0% {
    transform: translateX(-10vw);
  }

  100% {
    transform: translateX(-70vw);
  }
}

@keyframes infiniteTextRightWall {
  0% {
    transform: translateX(-70vw);
  }

  100% {
    transform: translateX(-110vw);
  }
}

.content.activeAnswers .Fragen {
  transition: all 1s;
  transition-delay: 1s;
  transform: translateY(-180vh) translateX(-50vw) rotateZ(-20deg);
}

.content.activeAnswers .mLine {
  transition-delay: 2.5s;
  transition: all 1s;
  transform: translateY(-108vw);
}

.mLineR01,
.mLineR02,
.mLineM01,
.mLineM02,
.mLineL01,
.mLineL02 {
  transform: translateY(-150vh) translateX(-50vw) rotateZ(-20deg);
  animation-play-state: paused;
  margin-top: -170vw;
}

.content.activeAnswers .mLineR01,
.content.activeAnswers .mLineR02,
.content.activeAnswers .mLineM01,
.content.activeAnswers .mLineM02,
.content.activeAnswers .mLineL01,
.content.activeAnswers .mLineL02 {
  transition-delay: 2.5s;
  transition: all 1.5s;
  text-align: left;
  transform: none;
}

.content.activeAnswers .mLineL01, .Moral.activeAnswers .mLineL02 {
  text-align: left;
  animation-play-state: running;
  animation: infiniteTextLeftWall 60s linear infinite;
  margin-top: -70vw;
}

.content.activeAnswers .mLineM01, .Moral.activeAnswers .mLineM02 {
  text-align: left;
  animation-delay: 3s;
  animation: infiniteTextCenterWall 60s linear infinite;
  margin-top: -70vw;
}

.content.activeAnswers .mLineR01, .Moral.activeAnswers .mLineR02 {
  text-align: left;
  animation-delay: 3s;
  animation: infiniteTextRightWall 60s linear infinite;
  margin-top: -70vw;
}

.content.activeAnswers div:nth-child(odd) {
  animation-direction: reverse;
}

/* activeTod */
.content.activeTod .Tod {
  transform: none;
}

.content.activeTod .floor {
  transition: all 1.5s;
  transform: none;
}

.content.activeTod .text {
  transition: all 1.5s;
  transform: translateY(100vh) rotateX(-90deg);
}

/* activeMoral */
.content.activeMoral .Moral {
  transform: translateZ(-4vw) translateX(0vw);
}

.content.activeMoral .floor {
  transition: all 1.5s;
  transform: none;
}

.content.activeMoral .text {
  transition: all 1.5s;
  transform: translateY(100vh) rotateX(-90deg);
}

/* activeEhe */
.content.activeEhe .Ehe {
  transform: none;
}

.content.activeEhe .floor {
  transition: all 1.5s;
  transform: none;
}

.content.activeEhe .text {
  transition: all 1.5s;
  transform: translateY(100vh) rotateX(-90deg);
}

/* activeHumor */
.content.activeHumor .Humor {
  transform: none;
}

.content.activeHumor .floor {
  transition: all 1.5s;
  transform: none;
}

.content.activeHumor .text {
  transition: all 1.5s;
  transform: translateY(100vh) rotateX(-90deg);
}

/* Editor */
#btn:active {
  color: rgb(182, 47, 47);
}

.Editor.activeEditor .tool-bar {
  z-index: 6;
  top: 0;
}

.tool-bar {
  display: grid;
  grid-template-columns: repeat(10, 10vw);
  grid-template-rows: repeat(10, 10vh);
  border-radius: 1px;
  grid-gap: 10px;
  width: 100%;
  transition: all 1.5s;
  position: absolute;
  top: 100vh;
  left: 0;
}

.tool-list {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  padding: 0;
  overflow: hidden;
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 6;
  position: relative;
  margin: 0;
  height: 3vh;
  background-color: rgb(201, 201, 201);
}
.button:focus{
  background-color: blue;
}

/*Button*/
.tool--btn {
  display: block;
  border: none;
  padding: .5rem;
  font-size: 10px;
  background-color: rgb(201, 201, 201);
}
.tool--speichern {
  justify-self: end; /*horizontal*/
  align-self: flex-end;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 6;
  border: none;
  font-size: 1.8vh;
}

/*schreiben*/
.output {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 8;
}

.submittedText {
  border: none;
  resize: none;
  font-family: 'Avenir';
  font-size: 20px;
  height: 29vh;
  width: 41.5vw;
  margin-top: 3vh;
}

/* mobile */
/*@media all and (max-width:600px) {}
