* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir";
  src: url('/zz_Fonts/avenir.ttf');
  font-family: "AvenirLTStd-Black";
  src: url('/zz_Fonts/AvenirLTStd-Black.otf');
}

body {
  margin: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0;
  background-color:  #242f3f;
}

@keyframes infiniteText {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

/*Loading Screen*/
.loader-wrapper {
  display: block;
  position: fixed;
  background-color: #242f3f no-repeat center center;
  height: 100%;
  width: 100%;
  align-items: center;
  overflow: hidden;
  animation: ease;
}

.txt {
  animation: ease-in;
}

.loader-wrapper .dynamic-txt {
  margin-left: 34vw;
  height: 118px;
  line-height: 110px;
  overflow: hidden;
}

.dynamic-txt li {
  list-style: none;
  font-size: 10vh;
  font-weight: 400;
  color: blue;
  position: relative;
  top: 0;
  animation: slide 9s steps(3) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-txt li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}

.dynamic-txt li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #242f3f;
  /*Blöcke*/
  border-left: 2px solid #242f3f;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {
  40%, 60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}

/*endless text*/
.text {
  transition: all 1.5s;
  perspective: 500px;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  font-family: 'AvenirLTStd-Black';
  font-weight: 100;
  background-color: rgb(33, 37, 41);
}

.text span {
  font-size: 33.5vh;
  font-weight: 700;
  text-transform: uppercase;
  /*color: rgba(0, 0, 0, 0.425);*/
  display: inline-block;
  transition: all ease 0.5s;
  transform: translateY(-11%);
  pointer-events: none;
}

/*.text span:nth-child(odd),
.text span:nth-child(even):hover {
  color: rgba(0, 0, 0, 0.39);
}

/*.text span:nth-child(odd):hover {
  color: #Fff;
}*/
.line1:hover {
  color: #6039D1;
}
.line2:hover {
  color: #00E5E8;
}
.line3:hover {
  color: #F4ACB7;
}
.line4:hover {
  color: #FEF445;
}

.content.activeTod .floortext:hover {
  color: #6039D1;
}
.content.activeMoral .floortext:hover {
  color: #00E5E8;
}
.content.activeEhe .floortext:hover {
  color: #F4ACB7;
}
.content.activeHumor .floortext:hover {
  color: #FEF445;
}

.line {
  white-space: nowrap;
  cursor: pointer;
  animation-play-state: running;
  animation: infiniteText 14s alternate linear infinite;
  height: 25vh;
  /*Abstand*/
}

.line2 {
  animation-direction: alternate-reverse;
}

.line4 {
  animation-direction: alternate-reverse;
}

.line2 span {
  margin: 0 80px 0;
}

.line3 span {
  margin: 0 35px 0;
}

.line:hover {
  animation-play-state: paused;
}

/* Editor*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content {
  transition: all 1.5s;
}

.walls {
  color: white;
  font-size: 2rem;
  font-family: 'Avenir';
  font-weight: bolder;
  transition: all 1s;
}

.Moral, .Ehe, .Humor, .Tod {
  display: flex;
  width: 100vw;
  transition: all 1.5s;
  position: absolute;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  overflow: hidden;
  perspective: 50vw;
  transform: translateY(-30vh) rotateX(-90deg);
}

img {
  width: 107vw;
}

.Fragen {
  transform: translateY(18vw) translateX(2.15vw);
  transition: all 1s;
}

/* Nr1 Moral*/
.m1FrageL, .t1FrageL, .e1FrageL, .h1FrageL, .content.f2 .m2FrageL, .content.f2 .t2FrageL, .content.f2 .e2FrageL, .content.f2 .h2FrageL {
  transform: scaleX(1.15) translateX(0);
}

.m1FrageR, .t1FrageR, .e1FrageR, .h1FrageR, .content.f2 .m2FrageR, .content.f2 .t2FrageR, .content.f2 .e2FrageR, .content.f2 .h2FrageR {
  transform: translateX(-103.2vw) scaleX(1.15);
}

.m1FrageM, .t1FrageM, .e1FrageM, .h1FrageM, .content.f2 .m2FrageM, .content.f2 .t2FrageM, .content.f2 .e2FrageM, .content.f2 .h2FrageM {
  transform: translateX(-22.25vw) translateY(4.92vw) scale(0.78);
}

/* question 2 */
.m2FrageL, .t2FrageL, .e2FrageL,.h2FrageL, .content.f2 .m1FrageL, .content.f2 .t1FrageL, .content.f2 .e1FrageL, .content.f2 .h1FrageL {
  transform: translateY(-400vh) translateX(-50vw) rotateZ(-20deg) ;
}

.m2FrageR, .t2FrageR, .e2FrageR,.h2FrageR, .content.f2 .m1FrageR, .content.f2 .t1FrageR, .content.f2 .e1FrageR, .content.f2 .h1FrageR {
  transform: translateY(-400vh) translateX(-50vw) rotateZ(-20deg);
}

.m2FrageM, .t2FrageM, .e2FrageM,.h2FrageM, .content.f2 .m1FrageM, .content.f2 .t1FrageM, .content.f2 .e1FrageM, .content.f2 .h1FrageM {
  transform: translateY(-400vh) translateX(-50vw) rotateZ(-20deg);
}

.content.f2 .Fragen {
  transform: translateY(-57vw) translateX(2.15vw);
}

.leftWall, .centerWall, .rightWall {
  overflow: hidden;
  white-space: nowrap;
  height: 125vw;
  background-color: rgb(33, 37, 41);
  border-width: thin;
  border-color: black;
  border-style: solid;
}

.leftWall {
  width: 35vw;
  transform: rotateY(70deg);
  margin-top: -30vw;
}

.rightWall {
  width: 35vw;
  transform: rotateY(-70deg);
  margin-top: -30vw;
}

.centerWall {
  transform: translateZ(3vw);
  width: 90vw;
  margin-top: -30vw;
  z-index: -1;
}

.floor {
  perspective: 50vw;
  transform: translateY(-30vh) rotateX(-90deg);
}

.content.activeMoral .floor {
  transition: all 1.5s;
  transform: none;
}
.content.activeTod .floor {
  transition: all 1.5s;
  transform: none;
}
.content.activeEhe .floor {
  transition: all 1.5s;
  transform: none;
}
.content.activeHumor .floor {
  transition: all 1.5s;
  transform: none;
}

.floortext {
  text-align: center;
  text-transform: uppercase;
  font-family: 'AvenirLTStd-Black';
  font-size: 9.5vw;
  height: 20vw;
  width: 67.4vw;
  margin: auto;
  transform: translateY(75vh) translateZ(2vw) rotateX(110deg);
  z-index: 5;
  background-color: rgb(33, 37, 41);
  color: black;
  border-width: thin;
  border-color: black;
  border-style: solid;
}




@keyframes infiniteTextLeftWall {
  0% {
    transform: translateX(2.4vw);
  }

  100% {
    transform: translateX(-113.6vw);
  }
}

@keyframes infiniteTextCenterWall {
  0% {
    transform: translateX(-19vw);
  }

  100% {
    transform: translateX(-135vw);
  }
}

@keyframes infiniteTextRightWall {
  0% {
    transform: translateX(-74.8vw);
  }

  100% {
    transform: translateX(-190.8vw);
  }
}

.content.activeAnswers .Fragen {
  transition: all 1s;
  transition-delay: 1s;
  transform: translateY(-230vh) translateX(-50vw) rotateZ(-20deg);
}

.content.activeAnswers .generallyAnswers {
  transition-delay: 2.5s;
}

.generallyAnswers {
  transform: translateY(-150vh) translateX(-50vw) rotateZ(-20deg);
  transition: all 1s;
}

.answerContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 6.6vw);
  margin-top: -9vw;
}

.answerContainerM {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 5.13vw);
  margin-top: -7.2vw;
}

.answerR,
.answerL,
.answerM {
  animation-play-state: paused;
  margin-top: -170vw;
  font-size: 4vw;
  color: white;
  font-weight: bolder;
}

.content.activeAnswers .answerR,
.content.activeAnswers .answerL,
.content.activeAnswers .answerM {
  transition-delay: 2.5s;
  transition: all 1.5s;
}

.content.activeAnswers .answerContainer div:nth-child(even){
  animation-direction: alternate-reverse;
}
.content.activeAnswers .answerContainerM div:nth-child(even){
  animation-direction: alternate-reverse;
}
.content.activeAnswers .answerL {
  text-align: left;
  animation-play-state: running;
  animation: infiniteTextLeftWall 70s alternate linear infinite;
  margin-top: -127vw;
}

.content.activeAnswers .answerM {
  text-align: left;
  animation-delay: 3s;
  animation-play-state: running;
  animation: infiniteTextCenterWall 70s alternate linear infinite;
  margin-top: -115.4vw;
}

.content.activeAnswers .answerR {
  text-align: left;
  animation-delay: 3s;
  animation-play-state: running;
  animation: infiniteTextRightWall 70s alternate linear infinite;
  margin-top: -127vw;
}

/* activeTod */
.content.activeTod .Tod {
  transform: none;
}

.content.activeTod .floor {
  transition: all 1.5s;
  transform: none;
}

.content.activeTod .text {
  transition: all 1.5s;
  transform: translateY(100vh) rotateX(-90deg);
}

/* activeMoral */
.content.activeMoral .Moral {
  transform: translateZ(-4vw) translateX(0vw);
}

.content.activeMoral .floor {
  transition: all 1.5s;
  transform: none;
}

.content.activeMoral .text {
  transition: all 1.5s;
  transform: translateY(100vh) rotateX(-90deg);
}

/* activeEhe */
.content.activeEhe .Ehe {
  transform: none;
}

.content.activeEhe .floor {
  transition: all 1.5s;
  transform: none;
}

.content.activeEhe .text {
  transition: all 1.5s;
  transform: translateY(100vh) rotateX(-90deg);
}

/* activeHumor */
.content.activeHumor .Humor {
  transform: none;
}

.content.activeHumor .floor {
  transition: all 1.5s;
  transform: none;
}

.content.activeHumor .text {
  transition: all 1.5s;
  transform: translateY(100vh) rotateX(-90deg);
}

/* Editor */
.Editor.activeEditor .tool-bar {
  z-index: 6;
  top: 0;
}

.tool-bar {
  display: grid;
  grid-template-columns: repeat(10, 10vw);
  grid-template-rows: repeat(10, 10vh);
  border-radius: 1px;
  grid-gap: 10px;
  width: 100%;
  transition: all 1.5s;
  position: absolute;
  top: 100vh;
  left: 0;
}

.tool-list {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  padding: 0;
  overflow: hidden;
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 6;
  position: relative;
  margin: 0;
  height: 3vh;
  background-color: rgb(201, 201, 201);
}

/*Button*/
.tool--btn {
  display: block;
  border: none;
  padding: .5rem;
  font-size: 10px;
  background-color: rgb(201, 201, 201);
}
.tool--speichern {
  border: none;
  font-size: 1.8vh;
  background-color: #494949;
  color: #ffffff;
  margin-left: 34.5vw;
  width: 2vw;
}
/*schreiben*/
.output {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 8;
}

.submittedText {
  border: none;
  resize: none;
  font-family: 'Avenir';
  font-size: 20px;
  height: 23vh;
  width: 41.5vw;
  margin-top: 3vh;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

/* mobile */
/*@media all and (max-width:600px) {}
