* {
  box-sizing: border-box;
}

@font-face { font-family: Avenir; src: url('/zz_Fonts/Avenir.ttc'); }

body {
  margin: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: hidden;
  padding: 0;
}

/*pre-loader*/
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@keyframes infiniteText {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

/*endless text*/
.text {
  perspective: 500px;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  font-family: 'Avenir';
  font-weight: 1000;
  transition: all 1s;
  background-color: rgb(33, 37, 41);
}

.text span {
  font-size: 33vh;
  font-weight: 700;
  text-transform: uppercase;
  /*color: rgba(0, 0, 0, 0.425);*/
  display: inline-block;
  transition: all ease 0.5s;
  transform: translateY(-20%);
  pointer-events: none;
}

/*.text span:nth-child(odd),
.text span:nth-child(even):hover {
  color: rgba(0, 0, 0, 0.39);
}

/*.text span:nth-child(odd):hover {
  color: #Fff;
}*/
.line:hover {
  color: white;
}

.line {
  white-space: nowrap;
  cursor: pointer;
  animation-play-state: running;
  animation: infiniteText 15s alternate linear infinite;
  height: 25vh;
  /*Abstand*/
}

.line2 {
  animation-direction: alternate-reverse;
}

.line4 {
  animation-direction: alternate-reverse;
}

.line2 span {
  margin: 0 80px 0;
}

.line3 span {
  margin: 0 35px 0;
}

.line:hover {
  animation-play-state: paused;
}

/* Editor*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content {
  transition: all 1s;
}

.walls {
  color: white;
  font-size: 2rem;
  font-family: 'Avenir';
  font-weight: bolder;
  position: relative;
}

.Moral, .Ehe, .Humor, .Tod {
  display: flex;
  width: 100vw;
  transition: all 1s;
  position: absolute;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  overflow: hidden;
}

.Moral {
  perspective: 50vw;
  transform: translateY(-30vh) rotateX(-90deg);
}

.m1FrageL {
  text-align: left;
  margin-left: 80px;
  transform: translateY(4.5vh);
}

.m1FrageR {
  text-align: right;
  transform: translateX(-84vw) translateY(4.5vh);
}

.m1FrageM {
  transform: translateX(-13vw) scale(0.95);
}

.Fragen {
  font-size: 6vw;
  position: absolute;
  top: 31vh;
}

.Ehe {
  transform: translateY(-100vh) rotateX(-90deg);
}

.Tod {
  transform: translateY(-100vh) rotateX(-90deg);
}

.Humor {
  transform: translateY(-100vh) rotateX(-90deg);
}

.leftWall, .centerWall, .rightWall {
  overflow: hidden;
  white-space: nowrap;
  height: 100vh;
  text-align: center;
  background-color: rgb(33, 37, 41);
}

.leftWall {
  width: 20vw;
  transform: rotateY(60deg);
}

.rightWall {
  width: 20vw;
  transform: rotateY(-60deg);
}

.centerWall {
  transform: translateZ(-1.1vw);
  height: 90vh;
  align-self: center;
}

  .floor {
    perspective: 50vw;
  }

  .floortext {
    text-align: center;
    text-transform: uppercase;
    font-size: 15vw;
    height: 22vw;
    width: 85vw;
    margin: auto;
    transform: translateY(75vh) rotateX(110deg);
    z-index: 5;
    background-color: black;
    color: white;
  }

  .floortext:hover {
    color: #dd22dd;
  }

  @keyframes infiniteTextLeftWall {
    0% {
      transform: translateX(0vw);
    }

    100% {
      transform: translateX(-50vw);
    }
  }

  @keyframes infiniteTextCenterWall {
    0% {
      transform: translateX(-20vw);
    }

    100% {
      transform: translateX(-70vw);
    }
  }

  @keyframes infiniteTextRightWall {
    0% {
      transform: translateX(-60vw);
    }

    100% {
      transform: translateX(-110vw);
    }
  }

  .Moral.activeAnswers .Fragen {
    transition: all 1s;
    transform: translateY(-100vh) translateX(-50vw) rotateZ(-20deg);
  }

  .Moral.activeAnswers .mLine {
    transform: none;
  }

.mLine {
  transition-delay: 1s;
  transition: all 1s;
  transform: translateY(-100vh) translateX(-50vw) rotateZ(-20deg);
}

.Moral.activeAnswers .mLineR01, .mLineR02, .mLineM01, .mLineM02, .mLineL01, .mLineL02 {
  transition-delay: 1s;
  transition: all 1s;
  text-align: left;
  transform: translateY(-100vh) translateX(-50vw) rotateZ(-20deg);
}

.Moral.activeAnswers .mLineL01, .mLineL02 {
  transition-delay: 1s;
  transition: all 1s;
  text-align: left;
  animation-delay: 2s;
  animation: infiniteTextLeftWall 60s linear infinite;
}

.Moral.activeAnswers .mLineM01, .mLineM02 {
  text-align: left;
  animation-delay: 2s;
  animation: infiniteTextCenterWall 60s linear infinite;
}

.Moral.activeAnswers .mLineR01, .mLineR02 {
  text-align: left;
  animation-delay: 2s;
  animation: infiniteTextRightWall 60s linear infinite;
}

.Moral.activeAnswers div:nth-child(odd) {
  animation-direction: reverse;
}

.content.activeTod .text {
  transform: rotateX(90deg);
}

.content.activeMoral .text {
  transform: translateY(50vh) rotateX(90deg);
}

.content.activeEhe .text {
  transform: rotateX(90deg);
}

.content.activeHumor .text {
  transform: rotateX(90deg);
}

.content.activeTod .Tod {
  transform: none;
}

.content.activeMoral .Moral {
  transform: none;
  transform: translateZ(-4vw);
}

.content.activeEhe .Ehe {
  transform: none;
}

.content.activeHumor .Humor {
  transform: none;
}

#btn:active {
  color: rgb(160, 160, 160);
}

.Editor.activeEditor .tool-bar{
  z-index: 6;
  top: 0;
}
.tool-bar {
  display: grid;
  grid-template-columns: repeat(10, 10vw);
  grid-template-rows: repeat(10, 10vh);
  border-radius: 1px;
  grid-gap: 10px;
  width: 100%;
  transition: all 1s;
  position: absolute;
  top: 100vh;
  left: 0;
}

.tool-list {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  padding: 0;
  margin: 1rem;
  overflow: hidden;
  border-radius: 8px;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
}

.tool--btn {
  display: block;
  border: none;
  padding: .5rem;
  font-size: 10px;
}

.output {
  height: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px;
  margin-top: 1rem;
  padding: 1rem;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 8;
  background-color: rgb(141, 141, 141);
}

/* mobile */
/*@media all and (max-width:600px) {}
